@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    all: initial;
    cursor: pointer;
}

:root {
    --primary-color: #901C1C;
    --secondary-color: #D3573C;
    --price-color: #757575;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 100px;
}

.photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.photographer_section article h2 {
    color: var(--secondary-color);
    font-size: 36px;
}

.photographer_section article h3 {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--primary-color);
}

.photographer_section article img {
    height: 225px;
    position: relative;
    left: -12.5px;
    top: -8.5px;
}

.photographer_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photographer_section p:first-of-type {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 2px;
}

.photographer_section p:nth-of-type(2) {
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--price-color);
}

/* Hover sur le logo pour la souris*/
.logo:hover {
    cursor: pointer;
}

.logo:active {
    transform: scale(1.05);
}
