.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin-top: 60px;
  }
  
  .photographer_section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none; 
  }
  
  .card-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease; 
  
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; 
      background: rgba(0, 0, 0, 0.3);
    }
  }
  
  .photographer_section a:hover .card-container {
    transform: translateY(-10px);
    &::after {
      opacity: 0.3;
    }
  }


.photographer_section article h2 {
    color: $color-orange;
    font-size: 30px;
}

.photographer_section article h2:hover {
    text-decoration: underline;
}

.photographer_section article h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-burgundy;
}

.photographer_section article img {
    height: 225px;
    position: relative;
    top: -8.5px;
}

.photographer_section article p{
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.card-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
  

.photographer_section p:first-of-type {
    font-size: 15px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 8px;
}

.photographer_section p:nth-of-type(2) {
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-grey;
}

/* RESPONSIVE */
@media screen and (max-width: 1040px) {
  header{
      flex-direction: column;
  }
  .main_photographers article {
      width: 45%;
  }
}
