.contact_button,
.send-button {
  font-size: 18px;
  font-weight: bold;
  color: $color-white;
  padding: 11px;
  width: 160px;
  height: 54px;
  border: none;
  background-color: $color-burgundy;
  border-radius: 5px;
  cursor: pointer;

  &.contact_button {
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: $color-orange;
      color : black;
    }
  }

  &.send-button {
    &:hover {
      background-color: $color-orange;
      color : black;
    }
  }
}