.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  height: 600px;
  border-radius: 5px;
  background-color: $color-salmon;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 35px 0 35px;
  margin: auto;
  display: none;
}

.modal header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: left;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}

.firstname-container {
  padding-top: 20px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: $color-grey;
  font-size: 25px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
}

#message {
  height: 120px;
  margin-bottom: 26px;
  vertical-align: top;
  line-height: 1;
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
  resize: none;
}

.message-container {
  padding-top: 8px;
}

.modal-close-btn {
  position: absolute;
  right: 0;
  top: 15px;
}

.modal-close-btn img {
  width: 60%;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: $color-white;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid $color-burgundy;
}