#main {
    padding: 0 120px;
}

.photograph-content {
    display: flex;
}

.photographer_banner {
    height: 133px;
}

.photograph-header {
    background-color: $color-white;
    height: 313px;
    display: flex;
    position: relative;
    width: 1240px;
}

.photograph-header h2 {
    font-size: 44px;
    font-weight: 400;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-orange;
    position: absolute;
    top: 71px;
    left: 50px;
}

.photograph-header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-burgundy;
    position: absolute;
    left: 50px;
    top: 154px;
}

.photograph-header p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
    position: absolute;
    left: 50px;
    top: 204px;
}

.photograph-header img {
    height: 226px;
    width: auto;
    position: relative;
    left: -13px;
    top: -9px;
}

.photograph-header .photographer_card {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    align-self: center;
    position: absolute;
    right: 50px;
}

.photographer_card {
    margin-top: 50px;
}


/* DROPDOWN */
.main_content_filter {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    margin-top: 20px;
}

.main_content_filter h2 {
    font-size: 18px;
}


.filter_section {
    position: relative;
    height: 100%;
}

.dropdown {
    z-index: 999;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
}

.rotate {
    transform: rotate(180deg);
}

.dropdown_content {
    max-height: 0;
    background-color: $color-burgundy;
    transition: max-height .1s ease-in-out;
}

.dropdown_content li {
    position: relative;
    width: 150px;
}

.dropdown_content li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 1px;
    background-color: $color-white;
}

.btn_drop,
.dropdown_content li button {
    height: 50px;
    padding: 15px;
    font-size: 18px;
    color: $color-white;
}

.btn_drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    background-color: $color-burgundy;
    border: none;
}

.dropdown_content li button {
    width: 100%;
    text-align: left;
    background-color: $color-burgundy;
    border: none;
}

.dropdown_content li button:hover,
.dropdown_content li button:focus,
.btn_drop:hover,
.btn_drop:focus {
    background-color: $color-salmon;
    color: black;
    cursor: pointer;
}

.curtain_effect {
    max-height: 200px;
}

.rotate {
    transform: rotate(180deg);
}

.animeCard {
    transition: transform 0.3s ease-in-out;

}